p {
font-size: 21px;

margin-top: 35px;
margin-left: 350px;
margin-right: 350px;

}

ul {
font-size: 21px;
}

img {
width: 600;
margin-left: 350px;
}

h1 {
text-align: center;
}

h2 {
text-align: center;
}


li {
margin-left: 350px;
}